<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Django and Vue.js</title>
    <style>
      .router-link-active {
        color: black;
        text-decoration: none;
      }
    </style>
  </head>
  <body class="bg-light">
    <div class="bg-white container">

      <div class="jumbotron">
        <h1 class="display-4">Don't get got!</h1>
        <p class="lead">
          Task entry platform.
        </p>
      </div>

      <!-- Content -->
      <div id="tasks">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <router-link
                class="nav-link text-primary"
                to="/entry/keyword/"
              >
                Go to Keywords
              </router-link>
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link text-primary"
                to="/entry/task/"
              >
                Go to Tasks
              </router-link>
            </li>
          </ul>
        </nav>
        <br />
        <router-view></router-view>
      </div>
    </div>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <script src="https://unpkg.com/vuex"></script>

    <!-- Vue templates -->
    <template id="task-list-template">
      <div class="task-list">
        <h2>Tasks</h2>
        <task-item
          v-for="task in tasks"
          v-bind:key="task.id"
          v-bind:title="task.title"
          v-bind:id="task.id"
        ></task-item>
      </div>
    </template>

    <template id="keyword-list-template">
      <div class="keyword-list">
        <h2>Keywords</h2>
        <keyword-item
          v-for="keyword in keywords"
          v-bind:key="keyword.id"
          v-bind:name="keyword.name"
          v-bind:id="keyword.id"
        ></keyword-item>
      </div>
    </template>

    <template id="task-item-template">
      <div class="task-item">
        <span v-if="$route.params.id">
          <b>
            <p>
              [[ $store.getters.getTaskByid($route.params.id)['title'] ]]
            </p>
          </b>
          ([[ $route.params.id ]])
        </span>
        <span v-else>
          <b>
            <p>
               [[ id ]]: [[ title ]]
            </p>
          </b>
        </span>
      </div>
    </template>

    <template id="keyword-item-template">
      <div class="keyword-item">
        <span v-if="$route.params.id">
          <b>
            <router-link v-bind:to="'/keyword/' + $route.params.id + '/'">
              [[ $store.getters.getKeywordByid($route.params.id)['name'] ]]
            </router-link>
          </b>
          ([[ $route.params.id ]])
        </span>
        <span v-else>
          <b>
            <p>
               [[ id ]]: [[ name ]]
            </p>
          </b>
        </span>
      </div>
    </template>

    <!-- Vue app -->
    <script>
      // store
      const store = new Vuex.Store({
        state: {
            tasks: [
            {% for task in tasks %}
                {
                  title: '{{ task.title }}',
                  id: '{{ task.id }}',
                },
            {% endfor %}
            ],
            keywords: [
            {% for keyword in keywords %}
                {
                  name: '{{ keyword.name }}',
                  id: '{{ keyword.id }}',
                },
            {% endfor %}
            ],
        },
        getters: {
          getTaskByid: (state) => (id) => {
            return state.tasks.find(tasks => task.id === id)
          },
          getKeywordByid: (state) => (id) => {
            return state.keywords.find(keywords => keyword.id === id)
          },
        }
      })

      // components
      TaskList = Vue.component('task-list', {
        data: function () { return { tasks: store.state.tasks } },
        template: '#task-list-template',
      });

      KeywordList = Vue.component('keyword-list', {
        data: function () { return { keywords: store.state.keywords } },
        template: '#keyword-list-template',
      });

      TaskItem = Vue.component('task-item', {
        delimiters: ['[[', ']]'],
        props: ['title', 'id'],
        template: '#task-item-template',
      });

      KeywordItem = Vue.component('keyword-item', {
        delimiters: ['[[', ']]'],
        props: ['name', 'id'],
        template: '#keyword-item-template',
      });

      // router
      const routes = [
        { component: TaskList, path: '/entry/task/', },
        { component: KeywordList,  path: '/entry/keyword/',  },
      ]

      const router = new VueRouter({
        mode: 'history',
        routes: routes,
      })

      // app
      const tasks = new Vue({
          router,
          store,
      }).$mount('#tasks');
    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
